In [1]:
import pandas as pd

itc_stock_data = pd.read_csv('ITC.csv')
itc_stock_data

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0      ITC     EQ  ...         4128324                   75.57
1      ITC     EQ  ...         8307567                   74.15
2      ITC     EQ  ...         5924804                   71.40
3      ITC     EQ  ...         5434449                   68.58
4      ITC     EQ  ...        19137631                   53.57
..     ...    ...  ...             ...                     ...
491    ITC     EQ  ...         4557484                   52.65
492    ITC     EQ  ...         4687591                   59.52
493    ITC     EQ  ...         5965688                   58.35
494    ITC     EQ  ...         4024203                   58.28
495    ITC     EQ  ...        14476904                   40.35

[496 rows x 15 columns]

In [2]:
import numpy as np
itc_stock_data['Daily Return'] = (itc_stock_data['Close Price']).pct_change() 
itc_stock_data['Daily Return'] = itc_stock_data['Daily Return'].replace([np.inf, -np.inf], np.nan)
itc_stock_data = itc_stock_data.dropna()
print("Mean Daily Return")
itc_stock_data['Daily Return'].mean()

Mean Daily Return

0.00018151806478190503

In [4]:
itc_stock_data['Daily Standard Deviation'] = (itc_stock_data['Close Price']).pct_change() 
itc_stock_data['Daily Standard Deviation'] = itc_stock_data['Daily Standard Deviation'].replace([np.inf, -np.inf], np.nan)
itc_stock_data = itc_stock_data.dropna()
print("Daily Standard Deviation")
itc_stock_data['Daily Standard Deviation'].std()

Daily Standard Deviation

0.014133926262953954

In [5]:
annual_mean =  -0.0002659107842087934 * 252
print("Annual Mean: "+ str(annual_mean))

Annual Mean: -0.06700951762061594

In [6]:
import math
annual_stdev = 0.013515857199631161 * math.sqrt(252)
print("Annual Standard Deviation: "+ str(annual_stdev))

Annual Standard Deviation: 0.2145575814365156

In [7]:
fortis_data = pd.read_csv('FORTIS.csv')
fortis_data

     Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0    FORTIS     EQ  ...         5980115                   65.87
1    FORTIS     EQ  ...         1127662                   52.54
2    FORTIS     EQ  ...         1609171                   53.06
3    FORTIS     EQ  ...         1337328                   46.88
4    FORTIS     EQ  ...         1424440                   34.37
..      ...    ...  ...             ...                     ...
490  FORTIS     EQ  ...           99695                   60.25
491  FORTIS     EQ  ...          246366                   65.20
492  FORTIS     EQ  ...          798500                   83.22
493  FORTIS     EQ  ...          658577                   75.80
494  FORTIS     EQ  ...          322608                   78.15

[495 rows x 15 columns]

In [8]:
itc_data = pd.read_csv('ITC.csv')
itc_data

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0      ITC     EQ  ...         4128324                   75.57
1      ITC     EQ  ...         8307567                   74.15
2      ITC     EQ  ...         5924804                   71.40
3      ITC     EQ  ...         5434449                   68.58
4      ITC     EQ  ...        19137631                   53.57
..     ...    ...  ...             ...                     ...
491    ITC     EQ  ...         4557484                   52.65
492    ITC     EQ  ...         4687591                   59.52
493    ITC     EQ  ...         5965688                   58.35
494    ITC     EQ  ...         4024203                   58.28
495    ITC     EQ  ...        14476904                   40.35

[496 rows x 15 columns]

In [9]:
lt_data = pd.read_csv('LT.csv')
lt_data

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0       LT     EQ  ...          529359                   66.41
1       LT     EQ  ...          674148                   61.12
2       LT     EQ  ...          830692                   49.78
3       LT     EQ  ...          915874                   63.73
4       LT     EQ  ...          838396                   55.45
..     ...    ...  ...             ...                     ...
489     LT     EQ  ...         1727865                   66.55
490     LT     EQ  ...          910828                   56.87
491     LT     EQ  ...         1560086                   63.30
492     LT     EQ  ...          716794                   48.89
493     LT     EQ  ...         1686523                   49.27

[494 rows x 15 columns]

In [10]:
pnb_data = pd.read_csv('PNB.csv')
pnb_data

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0      PNB     EQ  ...         1352589                   18.09
1      PNB     EQ  ...         5804867                   11.26
2      PNB     EQ  ...         7037498                   26.52
3      PNB     EQ  ...         3245443                   23.34
4      PNB     EQ  ...         2816963                   17.27
..     ...    ...  ...             ...                     ...
489    PNB     EQ  ...         2333933                   14.27
490    PNB     EQ  ...         2674859                   11.44
491    PNB     EQ  ...         2025433                    8.83
492    PNB     EQ  ...         1950720                    8.94
493    PNB     EQ  ...         7102109                   20.71

[494 rows x 15 columns]

In [11]:
tcs_data = pd.read_csv('TCS.csv')
tcs_data

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0      TCS     EQ  ...          712450                   78.39
1      TCS     EQ  ...         1167534                   64.84
2      TCS     EQ  ...         1031752                   71.74
3      TCS     EQ  ...         1135613                   44.20
4      TCS     EQ  ...          517461                   57.94
..     ...    ...  ...             ...                     ...
493    TCS     EQ  ...          975603                   44.31
494    TCS     EQ  ...          781526                   42.83
495    TCS     EQ  ...         1251459                   55.27
496    TCS     EQ  ...          873181                   42.81
497    TCS     EQ  ...          677242                   39.80

[498 rows x 15 columns]

In [15]:
data['Fortis'] =pd.DataFrame(fortis_data['Close Price'])
data['Itc'] = pd.DataFrame(itc_data['Close Price'])
data['Lt'] = pd.DataFrame(lt_data['Close Price'])
data['Pnb'] = pd.DataFrame(pnb_data['Close Price'])
data['Tcs'] = pd.DataFrame(tcs_data['Close Price'])
print("Closing Prices of the 5 respective stocks")
data

NameError: ignored

In [16]:
import numpy as np
returns = data.pct_change()
mean_daily_returns = returns.mean()
mean_daily_returns = mean_daily_returns.values.reshape(5,1)
cov_matrix = returns.cov()
weights = np.asarray([0.2,0.2,0.2,0.2,0.2]) #weights of repective stocks
portfolio_return = round(np.sum(mean_daily_returns * weights) * 252,2)
portfolio_std_dev = round(np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252),2)
print('Portfolio expected annualised return is {} and volatility is {}'.format(portfolio_return,portfolio_std_dev))

NameError: ignored

In [17]:
returns = data.pct_change()
mean_daily_returns = returns.mean()
cov_matrix = returns.cov()

num_portfolios = 25000

#set up array to hold results
results = np.zeros((3,num_portfolios))
for i in range(num_portfolios):
    weights = np.random.random(5)
    #rebalance weights to sum to 1
    weights /= np.sum(weights)
    
    portfolio_return = np.sum(mean_daily_returns * weights) * 252
    portfolio_std_dev = np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252)
    

    #store results in results array
    results[0,i] = portfolio_return
    results[1,i] = portfolio_std_dev
    #store Sharpe Ratio (return / volatility) - risk free rate element excluded for simplicity
    results[2,i] = results[0,i] / results[1,i]    
#convert results array to Pandas DataFrame
results_frame = pd.DataFrame(results.T,columns=['ret','stdev','sharpe'])

results_frame
#create scatter plot coloured by Sharpe Ratio
plt.scatter(results_frame.stdev,results_frame.ret,c=results_frame.sharpe,cmap='RdYlBu')
plt.colorbar()

NameError: ignored